:root {
  --text-main: rgb(20, 20, 20);
  --text-hover: rgb(100, 100, 100);
  --color-main: #81c784;
  --color-light: #c8e6c9;
}

html,
body {
  /* /* background: url(https://s3.us-east-2.amazonaws.com/davidtraverso.com/images/eberhard-grossgasteiger-nDjXr9XpHDk-unsplash.jpg)
    no-repeat; */
  /* background: linear-gradient(-90deg, #f8ff00 0%, #3ad59f 100%); */
  margin: 0;
  padding: 0;
  font-family: 'Signika', sans-serif;
}

/* Fade animation */
.ctn-fd {
  opacity: 0;
}

.ctn {
  opacity: 1;
  transition: 2s opacity;
}

/* Navigation */
nav {
  margin: 1.5em 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'site links';
  font-size: 1.5em;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 0.2rem;
}

#siteNav {
  grid-area: site;
  width: 100%;
}

#siteNav li {
  display: inline;
  padding: 0.25rem 0.75rem;
  /* border-bottom: 1px solid #5E423B; */
}

#siteNav a:hover {
  /* border-bottom: 2px solid #5E423B; */
  color: var(--text-hover);
}

#extLinks {
  grid-area: links;
  width: 100%;
}

#extLinks li {
  color: var(--text-main);
  float: right;
  margin: 0 0.75rem;
  font-size: 2rem;
}

a:link,
a:visited {
  color: var(--text-main);
  text-decoration: none;
}

#extLinks a:hover {
  color: var(--text-hover);
  /* border-bottom: 2px solid #5e423b; */
}
/* ~ END ~ Navigation*/

.hoverable:hover {
  border-bottom: 2px solid black;
}

/* Main */
.main {
  height: 80vh;
  width: 100vw;
  color: var(--text-main);
  display: grid;
  grid-template-columns: 1fr 13fr 1fr;
  grid-template-rows: 1;
  grid-template-areas: '. hero .';
  align-items: start;
}

.hero {
  grid-area: hero;
  background: linear-gradient(var(--color-main), white);
  height: 70vh;
  margin: 0.5rem;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  font-size: 2em;
  color: var(--text-main);
  border-radius: 15px;
}

.hero h1 {
  margin: 1rem;
  opacity: 0;
}

.aboutText {
  text-align: left;
}

.heroText p,
.heroText li,
.aboutText,
.aboutText li {
  font-size: 0.8em;
}

/* Card Wrapper - Home */
.cardWrap {
  margin: 0;
  /* padding: 0 2rem 2rem 2rem; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  place-items: center;
}

.card {
  background: whitesmoke;
  text-align: center;
  font-size: 1rem;
  padding: 0 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px 50px;
}

.cardFocus {
  background: whitesmoke;
  position: relative;
  bottom: 1vh;
}

wrapFocus {
  color: blue;
}

.cardFade {
  opacity: 0.7;
}

.card h3 {
  font-size: 1.5rem;
}

.card img {
  /* object-fit: cover; */
  width: 100%;
}

/*  ~ END ~ Main*/

/* Footer */
.footer {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 12vh;
  border-top: 3px solid white;
  text-align: center;
  color: var(--text-hover);
}

/*** ABOUT PAGE ***/
.aboutWrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'work life';
  grid-column-gap: 2rem;
  font-size: 1.2rem;
}

.aboutProfessional {
  grid-area: work;
  background: #ffffff;
  padding: 0.5rem 0.5rem;
  border-radius: 15px;
}

.aboutProfessional ul {
  list-style: none;
  text-align: center;
}

.aboutProfessional li {
  display: inline;
}

#listTitle {
  text-align: center;
}

.aboutPersonal {
  grid-area: life;
  background: #ffffff;
  padding: 0.2rem 0.5rem;
  border-radius: 15px;
}

.aboutPersonal ul {
  margin: -0.5rem 0 0 0;
}

/**** MEDIA QUERIES ****/
/* ------------------- */
/* 1400px and larger */
@media (min-width: 1470px) {
  .card {
    font-size: 1.33rem;
  }
}

/* 1160px wide and short viewport */
@media (max-width: 1160px) {
  nav {
    margin: 0.5rem 0.5em 1rem 0.5rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'site links';
    font-size: 1.5rem;
  }

  .main {
    height: 80vh;
    overflow: scroll;
  }

  .hero {
    height: 100%;
  }

  .card img {
    grid-area: img;
  }

  .card h3 {
    grid-area: cta;
    align-self: end;
    font-size: 1.4rem;
  }

  .card p {
    grid-area: txt;
    display: inline-block;
    margin: 0 1rem;
    align-self: center;
    font-size: 0.8rem;
  }
}

/* 1160px wide and tall viewport */
@media (max-width: 1160px) and (min-height: 720px) {
  nav {
    margin: 0.5rem 0.5em 1rem 0.5rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'site links';
    font-size: 1.5rem;
  }

  .main {
    height: 80vh;
    overflow: scroll;
  }

  .hero {
    height: 100%;
  }

  .cardWrap {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 2rem;
    place-items: center;
  }

  .card {
    padding: 0;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'img cta'
      'img txt';
  }

  .card img {
    grid-area: img;
    border-radius: 15px 0 0 50px;
  }

  .card h3 {
    grid-area: cta;
    align-self: end;
    font-size: 2rem;
  }

  .card p {
    grid-area: txt;
    display: inline-block;
    margin: 0 1rem;
    align-self: center;
    font-size: 1.3rem;
  }
}

/* 835px wide and regular viewport */
@media (max-width: 835px) and (max-height: 719px) {
  .nav {
    grid-template-columns: 5fr 2fr;
    grid-template-areas: 'site links';
  }

  #siteNav {
    align-self: center;
    font-size: 1.2rem;
  }

  #extLinks .fab {
    font-size: 1.5rem;
  }

  .heroText {
    display: none;
  }

  .cardWrap {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 0.5rem;
    place-items: center;
  }

  .card {
    padding: 0;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'img cta'
      'img txt';
  }

  .card img {
    grid-area: img;
    border-radius: 15px 0 0 50px;
  }

  .card {
    grid-template-rows: 1fr;
  }

  .card h3 {
    align-self: center;
  }

  .card p {
    display: none;
  }
}

/* 835px wide and taller viewport */
@media (max-width: 835px) and (min-height: 720px) {
  .nav {
    grid-template-columns: 5fr 2fr;
    grid-template-areas: 'site links';
  }

  #siteNav {
    align-self: center;
    font-size: 1.2rem;
  }

  #extLinks .fab {
    font-size: 1.5rem;
  }

  .cardWrap {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 0.5rem;
    place-items: center;
  }

  .card {
    padding: 0;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'img cta'
      'img txt';
  }

  .card img {
    grid-area: img;
    border-radius: 15px 0 0 50px;
  }

  .card {
    grid-template-rows: 1fr;
  }

  .card h3 {
    align-self: center;
  }

  .card p {
    display: none;
  }
}

/* 650px wide and smaller */
@media (max-width: 670px) {
  #contact {
    display: none;
  }

  .card h3 {
    font-size: 1.47rem;
  }
}
