html,
body {
  margin: 0;
  padding: 0;
  line-height: 0;
}

.main {
  height: 70vh;
  background: right bottom / contain no-repeat
      url('https://s3.us-east-2.amazonaws.com/davidtraverso.com/images/image.png'),
    linear-gradient(to bottom right, rgb(12, 61, 199), #b1c7f8);
  color: white;
  padding: 40px;
}

/* LinkedIn + Github */
.links > li {
  float: left;
  padding: 0px 5px;
  list-style: none;
  text-decoration: none;
  color: white;
}

/* Tech icon bar */
.hero {
  height: 15vh;
  background-image: linear-gradient(to bottom right, blue, #00ffff);
  color: white;
}

.tech-icons {
  list-style: none;
  color: white;
  margin: 40px;
  display: inline-block;
}

.tech-icons li span {
  position: relative;
}

.icons > li {
  float: left;
  padding: 10px 20px;
  list-style: none;
}

.dab:hover {
  margin: -8px 0px;
  color: rgb(119, 255, 146);
}

hr {
  color: white;
}
